/PythonProject/cache/
/PyQT6
*.pyc
/.idea/git_toolbox_blame.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/work.iml
/.idea/git_toolbox_prj.xml
