/paper1/cache
/paper1/frc
/frc_nc
/maps/
/maps/cnriver/
/sfm
/.idea
/.vscode
*xml
*png
/climkit/paos.colorado.edu
/p2/map
/考试/地流作业/wave.gif
/考试/地流作业/wave_g.gif
/climkit/curved_quivers/*pdf
/test/
/climkit.egg-info/
